body{
    margin: 0;
    padding: 0;

    justify-content: center;
    align-items: center;

    font-family: "Open Sans", sans-serif;
    
}

.card{
    background: #16283C;
    color: #FFF;
    padding-top: 30px;
    padding-right: 30px;
    margin-right: 30px;
}

.login{

    background-color: aqua;

    margin: 250px;

    padding: 20px;

    align-items: center;
    text-align: center;
}

.login h1{
    text-align: center;
}

.login label{
    display: flex;
}

.login input{
    display: flex;
    margin: 0 auto;

    margin-bottom: -10px;

    padding-left: 100px;
    padding-right: 100px;
}

.login button{
    display: flex;
    margin: 0 auto;
    align-items: center;

    padding: 5px;
    padding-left: 120px;
    padding-right: 120px;

    margin-bottom: 15px;
    
    size: 10px;
}

